* {
    font-family: monospace;
}
body{
    background-color: black;
}
h1{
    color: white;
}
#gameBoard {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    border: 1px solid white;
}
.deadCell{
    width: 15px;
    height: 15px;
    background-color: black;
    box-sizing: border-box;
}
.deadCell:hover{
    background-color: white;
}
.livingCell{
    width: 15px;
    height: 15px;
    background-color: #4ddbc1;
    box-sizing: border-box;
}
.livingCell:hover{
    background-color: #1a4d43;
}