* {
    font-family: monospace;
}
body{
    background-color: black;
}
h1{
    color: white;
}
#gameBoard {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    border: 1px solid white;
}
.cell{
    width: 10px;
    height: 10px;
    background-color: black;
    box-sizing: border-box;
    color: white;
    /* border: solid 1px lightgray; */
}